        h1
        {
            text-align: center;
            background-color:rgb(182, 66, 89);
            color:rgb(0, 0, 0);
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            /*box-shadow: 5px, 5px rosybrown;
            border-radius: 10px;*/
        }
        body 
        {
            background-color: rgb(255, 218, 185);
            padding-left: 15em;
        }
        ul.navbar
        {
            list-style-type: none;
            position: absolute;
            top: 5em;
            left: 2em;
            border-right: 2em solid rgb(245, 124, 148);
        }
        ul.navbar li 
        {
            background: rgb(182, 66, 89);
            margin:1em; padding: 1em;
            border-right: 1em solid rosybrown ;
            box-shadow: 3px, 3px rgb(245, 124, 148);
            border-radius: 10px;
        }
        ul.navbar li :hover{
            color:rgb(250, 138, 138);
            font-family: Georgia, 'Times New Roman', Times, serif;
            padding: 1em;
            /*box-shadow: 5px, 5px rgb(235, 63, 98);*/
            font-size: large;
        }

        ul.navbar a{
            color: rgb(0, 0, 0);
            text-decoration: none;
            font-family: Georgia, 'Times New Roman', Times, serif;
        }